<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gsh.ssmsrd.dao.BadcordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gsh.ssmsrd.model.Badcord">
        <id column="id" property="id" />
        <result column="hid" property="hid" />
        <result column="cordnum" property="cordnum" />
        <result column="memnum" property="memnum" />
        <result column="cordname" property="cordname" />
        <result column="cordtime" property="cordtime" />
        <result column="cordtype" property="cordtype" />
        <result column="tel" property="tel" />
        <result column="bookkeeper" property="bookkeeper" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, hid, cordnum, memnum, cordname, cordtime, cordtype, tel, bookkeeper, remark
    </sql>

</mapper>
